.hamburger {
    display: none;
    justify-content: space-between;
    flex-direction: column;
    position: absolute;
    z-index: 2;
    top: 44px;
    right: 40px;
    cursor: pointer;
    border: 1px solid #fff;
    padding: 10px;
    width: 50px;
    height: 43px;
    transition: all .4s;
    span {
        transition: all .4s;
        width: 100%;
        height: 2px;
        background: #fff;
        display: block;
    }
    &_active {
        border: none;
        top: 44px;
        z-index: 3;
        span {
            &:nth-child(1) {
                transform: rotate(45deg) translateY(13px);
                background: #fff;
            }
            &:nth-child(2) {
                display: none;
            }
            &:nth-child(3) {
                transform: rotate(-45deg) translateY(-14px);
                background: #fff;
            }
        }
    }
}
.menu {
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    &__item {
        margin: 0 16px;
    }
    &__link {
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 19px;
        text-decoration: none;
        color: #FFFFFF;
        &:hover {
            text-decoration-line: underline;
        }
        &:active {
            color: #f20f0f
        }
    }
    .underline {
        text-decoration-line: underline;

    }
}
.logo {
    width: 112px;
    img {
        width: 100%;
    }
}

.header {
    &__wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &__btn {
        outline: 1px solid #fff;
        color: #FFFFFF;
        background: transparent;
        transition: all .3s;
        &:hover {
            background: #07254F;
            outline: none;
        }
        
    }
}