@media screen and(max-width:1023px) {
    .wins {
        padding-bottom: 60px;
        &__text {
            font-weight: 400;
            font-size: 12px;
            line-height: 120%;
        }
        &__line {
            width: 1px;
        }
    }
}
@media screen and(max-width:768px) {
    .menu {
        position: fixed;
        
        flex-direction: column;
        top: 0;
        right: -100%;
        background: rgba(19, 47, 144, 0.95);
        padding: 50px;
        width: 70%;
        height: 80vh;
        transition: all .3s;
        z-index: 3;
        &_active {
            right: 0;
        }
        &__item {
            a {
                color: #fff;
                font-size: 16px;
            }
        }
        
    }
    .hamburger {
        display: flex;
       
    }
    .header {
        &__btn {
            display: none;
        }
    }
    .prod {
        padding-top: 60px;
        &__item {
            height: 340px;
        }
        &__title {
            padding: 40px 14px;
            font-size: 14px;
            line-height: 19px;
        }
    }
}
@media screen and(max-width:767px) {
    .hamburger_active {
        top: 10px;
        right: 0;
    }
    .promo {
        &__h {
            
            font-size: 25px;
            line-height: 30px;
            
            max-width: 587px;
            margin: 52px auto 0;
        }
        &__text {
            font-size: 14px;
            line-height: 19px;
        }
    }
    .wins {
        padding-bottom: 20px;
        &__wrapper {
            width: 100%;
            box-shadow: none;
            margin-top: 20px;
            flex-wrap: wrap;
        }
        .container {
            width: 100%;
        }
        &__icon {
            width: 37px;
            margin-bottom: 5px;
        }
        &__item {
            padding: 5px;
            width: 50%;
            margin-bottom: 25px;
            border-bottom: 1px solid #A9A9A9;
            padding-bottom: 25px;
            &:nth-child(1), &:nth-child(3) {
                border-right: 1px solid #A9A9A9;;
            }
        }
        &__text {
            font-size: 10px;
        }
        &__line {
            display: none;
        }
    }
    .prod {
        &__wrapper {
            flex-wrap: wrap;
            margin-top: 50px;
        }
        &__item {
            width: 50%;
            height: 250px;
        }
    }
   
}