@media screen and(max-width:768px) {
    .menu {
        position: fixed;
        
        flex-direction: column;
        top: 0;
        right: -100%;
        background: rgba(19, 47, 144, 0.95);
        padding: 50px;
        width: 70%;
        height: 80vh;
        transition: all .3s;
        z-index: 3;
        &_active {
            right: 0;
        }
        &__item {
            a {
                color: #fff;
                font-size: 16px;
            }
        }
        
    }
    .hamburger {
        display: flex;
       
    }
    .header {
        &__btn {
            display: none;
        }
    }
}
@media screen and(max-width:767px) {
    .hamburger_active {
        top: 10px;
        right: 0;
    }
    .promo {
        &__h {
            
            font-size: 25px;
            line-height: 30px;
            
            max-width: 587px;
            margin: 52px auto 0;
        }
        &__text {
            font-size: 14px;
            line-height: 19px;
        }
    }
}