@media screen and(max-width:768px) {
    .menu {
        position: fixed;
        
        flex-direction: column;
        top: 0;
        right: -100%;
        background: rgba(210, 106, 27, .9);
        padding: 50px;
        width: 70%;
        height: 80vh;
        transition: all .3s;
        z-index: 3;
        &_active {
            right: 0;
        }
        &__item {
            a {
                color: #000;
                font-size: 16px;
            }
        }
        
    }
    .hamburger {
        display: flex;
    }
}