.overlay {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: rgba(255, 255, 255, .85);
    z-index: 5;
    display: none;
}
.modal, .order {
    z-index: 50;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #fff;
    padding: 40px 40px;
    box-shadow: $main-color 5px 5px 15px;
    display: none;
    width: 700px;
    &__title {
        text-align: center;
        font-size: 18px;
        &_order {
            text-align: center;
            &_kg {
                text-align: center;
            }
        }
    }
    &__close {
        position: absolute;
        right: 25px;
        top: 15px;
        font-size: 30px;
        cursor: pointer;
    }
    &__back {
        position: relative;
        bottom: 20px;
        font-size: 16px;
        text-decoration: underline;
        text-align: center;
       
        margin: 0 auto;
        &:nth-child(1) {
            position: absolute;
            right: 25px;
            top: 15px;
            font-size: 30px;
            text-decoration: none;
        }
    }
    &__form {
        display: flex;
        flex-direction: column;
        margin: 15px auto 20px;
        width: 80%;
        input {
            margin-bottom: 15px;
            height: 45px;
            border: 1px solid #000;
            font-size: 14px;
            padding-left: 5px;
            
        }
        
        textarea {
            margin-bottom: 30px;
            border: 1px solid #000;
            font-size: 14px;
            line-height: 120%;
            padding-left: 5px;
            padding-top: 5px;
            height: 90px;
        }
        .btn {
            border: 1px solid $main-color;
            background: #fff;
            margin: 0 auto;
            cursor: pointer;
            &:hover {
                background: $second-color;
                color: #fff;
            }
        }
    }
}
.thanks {
    z-index: 6;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #fff;
    padding: 40px 40px;
    box-shadow: $main-color 5px 5px 15px;
    display: none;
}
.policy {
    display: flex;
    align-items: center;
    
    font-size: 10px;
    input {
        margin-bottom: 0;
    }
}
.select-color {
    width: 100px;
    margin-bottom: 20px;
    height: 30px;
}